#maincontent {
  text-align: center;
  size: 50%;
  margin: auto;
  color: #97dffc;
}
#nickname {
  text-align: center;
  color: #858ae3;
}
#bestscores {
  text-align: left;
  size: 10%;
  color: #613dc1;
  margin: auto;
}
#recentscores {
  text-align: left;
  size: 10%;
  color: #613dc1;
  margin: auto;
}
#leaderboard {
  text-align: left;
  size: 20%;
  color: #613dc1;
  margin: auto;
}
h1 {
  text-align: center;
  color: #97dffc;
}
.bg {
  background-color: #2c0735;
}
button {
  color: #4e148c;
  background-color: #858ae3;
  border-color: #4e148c;
  border-width: 5px;
}
#submit {
  padding: 2.5px 10px;
}
#start {
  padding: 10px 25px;
  font-size: 25px;
}
.flex-container {
  display: flex;
  margin: auto;
}
