.bg {
  background-color:#000;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #fff;
}
#id {
  one individual's design
}
.class{
  a group's shared design
}
element{
  design for all of shared element
}
