h1 {
  color: #97dffc;
  font-size: 100px;
}
p {
  color: #4e148c;
  font-size: 72px;
}
button {
  background-color: #858ae3;
  border: none;
  padding: 50px 50px;
  display: inline-block;
  margin: 15px;
}
Button:hover {
  background-color: #613dc1;
}
button:focus {
  background-color: #97dffc;
}
.bg {
  text-align: center;
  background-color: #2c0735;
}
